html {
    background-image: url("images/steampunk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}

div.main-div {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

    zoom: 150%
}

article {
    position: absolute;
    bottom: 40px;
}

::-webkit-scrollbar {
    display: none;
}