html {
    width: 500px;
    background-image: url("images/armageddon.png");
}

button {
    display: none;
}

p {
    word-break: break-all;
    white-space: normal;
}

.future-font {
    font-family: 'DO Futuristic', sans-serif;
    mix-blend-mode: difference;
}