/* CSS */
button {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: auto;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus {
    filter: brightness(120%);
}

button:disabled {
    cursor: not-allowed;
    opacity: .25;
}

input[type="text"] {
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 16px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

input[type="text"]:focus {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

body>div.wrapper-conf>div>div.content-conf.workflow-package-page>div.config-warning>table>tbody>tr>td>img {
    background-color: red;
}

body>div.workflows-warning-bar {
    background-color: yellow;
}

p {}

.configSubSection {}

div>.x-window-tl {
    background-color: black;
}